@() @main("Bikey") {

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bike.css")">

<div class="w3-container">
	
<h1>Bicycle</h1>
<div id="road" class="w3-col w3-half w3-col m2">
  <div class="shadow"></div>
  <div class="bike">
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="wind"></div>
    <div class="bike_body">
      <div class="bike_body_pedal">
        <div class="arm_a">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
          <div class="pedal_a">
            <div class="bike_body_frame_side_arm"></div>
            <div class="bike_body_frame_side_leg"></div>
          </div>
        </div>
        <div class="arm_b">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
          <div class="pedal_b">
            <div class="bike_body_frame_side_arm"></div>
            <div class="bike_body_frame_side_leg"></div>
          </div>
        </div>
      </div>
      <div class="bike_body_saddle">
        <div class="bike_body_saddle_side_arm"></div>
        <div class="bike_body_saddle_side_leg"></div>
      </div>
      <div class="bike_body_rear">
        <div class="arm_a">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
        </div>
        <div class="arm_b">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
        </div>
        <div class="arm_c">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
        </div>
        <div class="arm_d">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
        </div>
      </div>
      <div class="bike_body_triangle">
        <div class="side_arm">
          <div class="bike_body_frame_1"></div>
          <div class="bike_body_frame_2"></div>
          <div class="bike_body_frame_3"></div>
        </div>
        <div class="side_leg">
          <div class="bike_body_frame_1"></div>
          <div class="bike_body_frame_2"></div>
          <div class="bike_body_frame_3"></div>
        </div>
      </div>
      <div class="bike_body_front">
        <div class="side_arm">
          <div class="bike_body_frame_1"></div>
          <div class="bike_body_frame_2"></div>
        </div>
        <div class="side_leg">
          <div class="bike_body_frame_1"></div>
          <div class="bike_body_frame_2"></div>
        </div>
        <div class="side_leg2">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
        </div>
        <div class="arm_a">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
        </div>
        <div class="arm_b">
          <div class="bike_body_frame_side_arm"></div>
          <div class="bike_body_frame_side_leg"></div>
        </div>
      </div>
    </div>
    <div class="bike_tie front">
      <div class="rotate_tie">
        <div class="side_arm">
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
        </div>
        <div class="side_leg">
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
        </div>
        <div class="side_leg2">
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
        </div>
      </div>
    </div>
    <div class="bike_tie rear">
      <div class="rotate_tie">
        <div class="side_arm">
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
        </div>
        <div class="side_leg">
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
        </div>
        <div class="side_leg2">
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
          <div class="bike_tie_frame"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
	}