@() @main("Boarding Pass") {

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/boardingpass.css")">

<div class="w3-container">

	<h1>Boarding Pass</h1>

	<div class="w3-row">
		<div class="w3-col w3-half w3-col m2">
			<div class="box">
				<div class="clip"></div>
				<ul class="left">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>

				<ul class="right">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>

				<div class="ticket">
					<span class="airline">AirAsia</span> <span
						class="airline airlineslip">AirAsia</span> <span class="boarding">Boarding
						pass</span>
					<div class="content">
						<span class="jfk">MEL</span> <span class="plane"> <?xml version="1.0" ?>
							<svg clip-rule="evenodd" fill-rule="evenodd" height="60"
								width="60" image-rendering="optimizeQuality"
								shape-rendering="geometricPrecision"
								text-rendering="geometricPrecision" viewBox="0 0 500 500"
								xmlns="http://www.w3.org/2000/svg">
							<g stroke="#222">
							<line fill="none" stroke-linecap="round" stroke-width="30"
									x1="300" x2="55" y1="390" y2="390" />
							<path
									d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z"
									fill="#222" stroke-linejoin="round" stroke-width="10" /></g></svg>
						</span> <span class="sfo">KUL</span> <span class="jfk jfkslip">MEL</span>
						<span class="plane planeslip"> <?xml version="1.0" ?> <svg
								clip-rule="evenodd" fill-rule="evenodd" height="50" width="50"
								image-rendering="optimizeQuality"
								shape-rendering="geometricPrecision"
								text-rendering="geometricPrecision" viewBox="0 0 500 500"
								xmlns="http://www.w3.org/2000/svg">
							<g stroke="#222">
							<line fill="none" stroke-linecap="round" stroke-width="30"
									x1="300" x2="55" y1="390" y2="390" />
							<path
									d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z"
									fill="#222" stroke-linejoin="round" stroke-width="10" /></g></svg>
						</span> <span class="sfo sfoslip">KUL</span>
						<div class="sub-content">
							<span class="watermark">AirAsia</span> <span class="name">PASSENGER
								NAME<br> <span>The Boot, Puss</span>
							</span> <span class="flight">FLIGHT N&deg;<br> <span>D7
									218</span></span> <span class="gate">GATE<br> <span>11B</span></span> <span
								class="seat">SEAT<br> <span>11C</span></span> <span
								class="boardingtime">BOARDING TIME<br> <span>10:35AM
									ON JAN 2020</span></span> <span class="flight flightslip">FLIGHT
								N&deg;<br> <span>D7 218</span>
							</span> <span class="seat seatslip">SEAT<br> <span>11C</span></span>
							<span class="name nameslip">PASSENGER NAME<br> <span>The
									Boot, Puss</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


<div class="w3-row">
		<div class="w3-col w3-half w3-col m2">
			<div class="box" style="margin-top: 230px;">
				<div class="clip"></div>
				<ul class="left">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>

				<ul class="right">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>

				<div class="ticket">
					<span class="airline">Emirates</span> <span
						class="airline airlineslip">Emirates</span> <span class="boarding">Boarding
						pass</span>
					<div class="content">
						<span class="jfk">MEL</span> <span class="plane"> <?xml version="1.0" ?>
							<svg clip-rule="evenodd" fill-rule="evenodd" height="60"
								width="60" image-rendering="optimizeQuality"
								shape-rendering="geometricPrecision"
								text-rendering="geometricPrecision" viewBox="0 0 500 500"
								xmlns="http://www.w3.org/2000/svg">
							<g stroke="#222">
							<line fill="none" stroke-linecap="round" stroke-width="30"
									x1="300" x2="55" y1="390" y2="390" />
							<path
									d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z"
									fill="#222" stroke-linejoin="round" stroke-width="10" /></g></svg>
						</span> <span class="sfo">SIN</span> <span class="jfk jfkslip">MEL</span>
						<span class="plane planeslip"> <?xml version="1.0" ?> <svg
								clip-rule="evenodd" fill-rule="evenodd" height="50" width="50"
								image-rendering="optimizeQuality"
								shape-rendering="geometricPrecision"
								text-rendering="geometricPrecision" viewBox="0 0 500 500"
								xmlns="http://www.w3.org/2000/svg">
							<g stroke="#222">
							<line fill="none" stroke-linecap="round" stroke-width="30"
									x1="300" x2="55" y1="390" y2="390" />
							<path
									d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z"
									fill="#222" stroke-linejoin="round" stroke-width="10" /></g></svg>
						</span> <span class="sfo sfoslip">SIN</span>
						<div class="sub-content">
							<span class="watermark">Emirates</span> <span class="name">PASSENGER
								NAME<br> <span>The Boot, Puss</span>
							</span> <span class="flight">FLIGHT N&deg;<br> <span>EK
									405</span></span> <span class="gate">GATE<br> <span>11B</span></span> <span
								class="seat">SEAT<br> <span>47K</span></span> <span
								class="boardingtime">BOARDING TIME<br> <span>06:55PM
									ON 09 Nov 2020</span></span> <span class="flight flightslip">FLIGHT
								N&deg;<br> <span>EK 405</span>
							</span> <span class="seat seatslip">SEAT<br> <span>47K</span></span>
							<span class="name nameslip">PASSENGER NAME<br> <span>The
									Boot, Puss</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="w3-row">
		<div class="w3-col w3-half w3-col m2">
			<div class="wrapper">
				<div class="pie spinner"></div>
				<div class="pie filler"></div>
				<div class="mask"></div>
			</div>
		</div>
	</div>
</div>
}
