@() @main("Welcome to Play") {

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/gun.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/robot.css")">

<div class="w3-container">
	<div id="page">
		<div class="w3-row">
			<div class="w3-container">
				<h1 id="header-a">Welcome to Play!</h1>
			</div>
		</div>
		<div id="container">

			<div id="machine-gun">
				<input id='trigger-a' class='trigger' type='radio' name='fire'>
				<span class='range'> <label class="gun" for='trigger-a'>🔫</label>
					<output class='shot'>⁌</output>
				</span> <input id='trigger-b' class='trigger' type='radio' name='fire'
					checked> <span class='range'> <label class="gun"
					for='trigger-b'>🔫</label> <output class='shot'>⁌</output>
				</span>
			</div>
			<div id="foot" class="left">
				<div id="f1"></div>
				<div id="f2"></div>


				<div id="leg1" class="first">
					<div id="leg1" class="next1">
						<div id="leg1" class="next1">
							<div id="leg1" class="next1">
								<div id="leg1" class="next1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="foot" class="right">
				<div id="f1"></div>
				<div id="f2"></div>

				<div id="leg2" class="first">
					<div id="leg2" class="next2">
						<div id="leg2" class="next2">
							<div id="leg2" class="next2">
								<div id="leg2" class="next2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div id="body">
				<div id="b1"></div>
				<div id="b2"></div>
				<div id="b3"></div>
				<div id="head">
					<div id="h1"></div>
					<div id="h2"></div>
					<div id="h3"></div>
					<div id="h4"></div>
					<div id="h5">
						<span></span>
					</div>
					<div id="eyes">
						<div id="e">
							<div id="e1">
								<div id="eye"></div>
								<span></span>
							</div>
							<div id="e2">
								<div id="eye"></div>
								<span></span>
							</div>
						</div>
					</div>
					<div id="mouth">
						<span></span> <span></span> <span></span> <span></span> <span></span>
						<div id="m1"></div>
						<div id="m2"></div>
					</div>
				</div>

				<div id="b4"></div>
				<div id="b5">
					<div id="b51">
						<div id="b51">
							<div id="b51">
								<div id="b51">
									<div id="ab">
										<div id="a1"></div>
										<div id="a2"></div>
										<div id="a3" class="a31"></div>
										<div id="a3" class="a32"></div>
										<div id="a3" class="a33"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="b6"></div>
				<div id="b7">
					<div id="b71">
						<div id="b71">
							<div id="b71">
								<div id="b71">
									<div id="ac">
										<div id="a1"></div>
										<div id="a2"></div>
										<div id="a3" class="a31"></div>
										<div id="a3" class="a32"></div>
										<div id="a3" class="a33"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="b8">
					<span></span>
				</div>
				<div id="b9"></div>
			</div>
		</div>
	</div>
	}