@() @main("Bikey") {


<div class="w3-container">

	<h1>Login Area</h1>

	<form method="post" action="@routes.HomeController.loginSubmit()">
		<label class="w3-text-blue"><b>Username</b></label>
		<input type="text" name="username" class="w3-input w3-border w3-round-large" /><br /> 
		<label class="w3-text-blue"><b>Password</b></label>
		<input type="password" name="password" class="w3-input w3-border w3-round-large" /><br /> 
		<input type="submit" value="Login" class="w3-btn w3-blue-grey w3-round-large" />
	</form>
</div>
}
